@model WorkforceManagement.Models.Department

@{
    ViewData["Title"] = "details";
}

    <h1>@($"{this.Model.Name}")</h1>

    <div>
        <hr />
        <dl class="row">
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.Budget)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.Budget)
            </dd>
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.Employees):
            </dt>
        </dl>
        @if (Model.Employees.Count > 0)
        {
        <table class="table">
            <thead>
                <tr>
                    <th>
                        @Html.ActionLink("First Name", "Details", new { orderby = "firstname" })
                    </th>
                    <th>
                        @Html.ActionLink("Last Name", "Details", new { orderby = "lastname" })
                    </th>
                </tr>
            </thead>
            <tbody>
                @foreach (Employee employee in Model.Employees)
                {
                    <tr>
                        <td>
                            @Html.DisplayFor(modelItem => employee.FirstName)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => employee.LastName)
                        </td>
                    </tr>
                }
            </tbody>
        </table>
        }
        else {
    <p>
        This department does not currently have employees.
    </p>
        }
    </div>
<div>
    <a asp-action="Index">Back to List</a> |
    @Html.ActionLink("Edit", "Edit", new { id = Model.Id }) |
    @Html.ActionLink("Delete", "Delete", new { id = Model.Id }) 
</div>
